@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa:wght@300&family=Limelight&family=Nova+Square&family=Plaster&family=Poiret+One&family=Tilt+Warp&display=swap');

html {
    font-size: 16px;
}

body {
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
    height: 100vh;
  }

  h1, h3 {
    text-shadow: 20px 20px 10px black;
    color: white;
  }

  nav {
    background-color:transparent;
    padding: none;
    display: flex;
    flex-direction: row;
    
  }

  .header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    
  }

  .header h1 {
    margin: 0 1em 0 1em;
    font-family: "Aboreto";
    font-size: 1.4vw;
  }

  .header_2 {
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.166);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 8vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header_2 h1 {
    font-family: "Poiret One";
    font-size: 3.3vw;
    color: rgb(250, 242, 242);
    margin-left: 0.6em;
    text-shadow: 14px 8px 12px black;
  }

  .header_3 {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1;
    padding: none;
    
    
  }

  .header_3 h1 {
    font-family: "Aboreto";
    font-size: 15vw;
    float: right;
    margin: 0 0.2em 0 0;
  }

  .header_3 h3 {
    font-family: "Aboreto";
    font-size: 3.8vw;
    float: right;
    position: absolute;
    right: 13%;
    bottom: 0;
    color: rgb(10, 9, 9);
    background-color: rgba(245, 222, 179, 0.136);
    border-radius: 20%;
    margin: 0;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

  ul {
    display: flex;
    list-style: none;
    margin-right: 1.5em;
    padding: 0;
  }

  li {
    margin-left: 1vw;
    font-size: 2.3vw;
    font-family: "Aboreto";
  }

  nav ul li {
    text-decoration: none;
    list-style-type: none;
    
  }


  .contents {
    position: absolute;
    border-radius: 4px;
    bottom: 25%;
    left: 4%;
    z-index: 1;
    background: linear-gradient(110deg, rgba(74, 38, 2, 0.67), 45%, rgba(184, 149, 87, 0.863));
    padding: 0.5vw;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    max-width: 490px;


}

  .contents h1 {
    text-decoration: underline;
    font-family: "Poiret One";
    margin-left: 13px;
    font-size: 2vw;
    
  }

  .contents h4 {
    list-style-type:circle;
    font-family: "Comfortaa";
    font-size: 1.2vw;
    margin-left: 13px;
    

  }

  .highlights {
    position: absolute;
    bottom: 16%;
    right: 4%;
    z-index: 1;
    max-width: 390px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    line-height: 2.3vw;
   
    padding: 0.8vw;
  
  }


  .highlights h1 {
    text-shadow: none !important;
    font-size: 2.3vw;
    color: rgb(125, 45, 45);
    font-family: "Limelight";
    margin: 0;
    padding: 0;

  }

  .highlights h4 {
    font-family: "Poiret One";
    font-weight: 800;
    color:rgb(15, 14, 14);
    margin: 0;
    font-size: 1.3vw;
    background-color: rgba(194, 118, 31, 0.326);

  }

  #barcode {
    position: absolute;
    bottom: 7%;
    left: 4%;
    z-index: 1;
    height: 6vw;
    width: 12vw;
  }

  .gallery {
    height: 100vh; 
    position: relative;
    
 
  }
  
  .gallery .image-gallery-slide img {
    object-fit: cover; 
    height: 100vh;
  }

  .gallery .image-gallery-slide:nth-child(2) {
    background-position: 80% 20%;
  }

 

 #stats:hover {
    cursor: pointer;
  }

table {
    z-index: 1;
    background: white;
    padding: 20px 10px;
    border: 1px solid white;
    font-family: "Comfortaa";
    font-weight: 800;
    text-shadow: 3px 5px 20px white;
    width: 100%;
}   

th, td {
    border: 1px solid white;
    padding: 1vw;
    font-size: 1vw;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  color: white !important;
}

.navigation li a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: white !important;
}

.navigation li a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
}

.navigation li a:hover:before,
.navigation li a:focus:before {
  opacity: 1;
}

.navigation li a:hover,
.navigation li a:focus {
  cursor: pointer;
}

.navigation li a:active {
  font-weight: bold;
}
